language: node_js
node_js:
- stable
install:
- npm install
script:
- npm test --coverage
deploy:
  provider: npm
  email: james.eisenhauer@nike.com
  api_key: $NPM_TOKEN
  on:
    tags: true
    repo: Nike-Inc/bokor
